img
{
    height: 280px;
    width: 300px;
}
.cbs
{
  display: flex;
  gap:10px;

  
}
.cb
{
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  transition: all 3s ease;
}
.cb:hover
{
    transform: scale(1.2);
    background-color: rgb(227, 25, 25);
    
}  
#title
{
    display:  flex;
    justify-content: center;
    color:red;
    
}
h1
{
    color: red;
}
.darkmode{
    background-color: black;
color: white;    

}
#light
{
   
    color: black;
   
    padding-right: 30px;
    background-color: red;
    display:flex;
    justify-content: center;  
    margin-left: 60px;  
    margin-top:90px ;
}